/* First Santa gliding */
.santa-container.santa-one {
  top: 75px;        /* Height */
  animation: glide-right 10s linear infinite;
}

/* Second Santa gliding */
.santa-container.santa-two {
  top: 75px;        /* Lower */
  animation: glide-left 12s linear infinite;
}

.santa-container {
  position: absolute;
  width:  75vw;      /* Full screen width */
  height: 75px;     /* Enough space for Santa */
  left: 0;
  overflow: visible; /* Important: prevents Santa disappearing */
  pointer-events: none;
}

/* Common glide animation */
@keyframes santa-glide {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(120vw);
  }
}


.santa-body  {
  font-size: 40px;
}

.santa {
  transform: scale(1.2);
}

/* Santa moving left → right */
@keyframes glide-right {
  0%   { transform: translateX(-20vw); }
  100% { transform: translateX(120vw); }
}

/* Santa moving right → left */
@keyframes glide-left {
  0%   { transform: translateX(120vw); }
  100% { transform: translateX(-20vw; }
}

